.container{
    width: 80% ;
    height:70% ;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form span{
    margin-top: 2%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:500px){
    .container{
        height: 90%;
    }

    .form span{
        flex-direction: column;
        width: 100%;
        margin-top: 0%;
    }

    .form span div{
        margin-top: 5%;
    }
}

.form span div{
    width: 80%;
}

.buttonsContainer{
    width: 60%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}

.buttonsContainer button{
    width: 20%;
}

.dropdown{
    width: 50%;
}

.dropdownOption{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dropdownOptionLeft{
    width:50%;
    overflow:hidden;
}
.dropdownOptionRight{
    width:50%;
    text-align: right;
    margin-right: 1%;
}

.error{
    color: red;
    align-self: center;
    text-align: center;
}